@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
h4 {
    text-align: center;
}
h4 {
    font-size: 24px;
}
p5 {
    font-size: 24px;
}
.giants {
    width: 282px;
}
body {
    background-color: skyblue;
    font-family: 'Baloo Bhaina', cursive;
}
