@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
#Top {
    color:blue;
    text-align: center;
}
body{
    background-color:skyblue;
    text-align: left;
    font-size: 24px;
    font-family: 'Baloo Bhaina', cursive;
}
p{
    text-align: left;
    font-size:54px;
}
.p1 {
    font-size: 24px;
    color: blue;
}
.nyy {
    font-size: 50px;
}
.newyork {
    width: 480px;
}
h3 {
    text-align: center;
    color: blue;
}
